[Unit]
Description=FluffyFunicular

[Service]
TimeoutStartSec=10m
ExecStartPre=/usr/bin/docker pull ponsfrilus/fluffy-funicular
ExecStartPre=/usr/bin/sh -c '/usr/bin/docker rm -f fluffy-funicular || true'
ExecStart=/usr/bin/sh -c 'docker run -it --rm --name fluffy-funicular -v `pwd`/data:/app/data ponsfrilus/fluffy-funicular'
ExecStop=/usr/bin/docker kill fluffy-funicular
Restart=on-failure

[X-Fleet]
X-Conflicts=FluffyFunicular.service