[Unit]
Description=FluffyFunicular

[Service]
TimeoutStartSec=10m
ExecStartPre=/usr/bin/docker pull epfldojo/fluffy-funicular
ExecStartPre=/usr/bin/sh -c '/usr/bin/docker rm -f fluffy-funicular || true'
ExecStart=/usr/bin/sh -c 'docker run -t --rm --name fluffy-funicular -v /home/core/fluffy-funicular/data:/app/data epfldojo/fluffy-funicular'
ExecStop=/usr/bin/docker kill fluffy-funicular
Restart=on-failure

[X-Fleet]
X-Conflicts=FluffyFunicular.service